<div class="card character-profile">
    <div class="card-body">

        <img class="card-image-top" src="{{ character.image }}" alt="{{ character.name }}-image" />
        <h5 class="card-header">{{ character.name }}</h5>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-6">{{ character.species }}</div>
                    <div class="col-6">{{ character.gender }}</div>
                </div>
            </li>
            
            <li class="list-group-item">{{ character.location.name }} | {{ character.status }}</li>
        </ul>

    </div>
</div>
